* {
  padding: 0px;
  margin: 0px;
}
.main {
  position: absolute;
  width: 1728px;
  /* width: 100%; */
  height: 1117px;
  /* height: 100%; */
  left: 0px;
  top: 0px;
  background: #d9d9d9;
}

/* Slider */
.slidermain {
  position: absolute;
  width: 296px;
  height: 1117px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
}
.sliderLogo {
  position: absolute;
  width: 119px;
  height: 43px;
  left: 38px;
  top: 37.08px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 800;
  font-size: 35.48px;
  line-height: 43px;
  color: #323232;
}
.pages {
  position: absolute;
  width: 190px;
  height: 34px;
  left: 19px;
  top: 146.95px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22.8024px;
  line-height: 34px;
  letter-spacing: -0.02em;

  /* color: #72aa83; */
  cursor: pointer;
}
.pages2 {
  position: absolute;
  width: 158px;
  height: 33px;
  left: 19px;
  top: 227px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.02em;
  /* color: #494949; */
  cursor: pointer;
}
.pages3 {
  position: absolute;
  width: 156px;
  height: 33px;
  left: 19px;
  top: 306px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.02em;
  /* color: #494949; */
  cursor: pointer;
}
.pages4 {
  position: absolute;
  width: 84px;
  height: 33px;
  left: 19px;
  top: 385px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;

  letter-spacing: -0.02em;

  /* color: #494949; */
  cursor: pointer;
}
.line {
  position: absolute;
  width: 249px;
  height: 0px;
  left: 20px;
  top: 200.5px;

  border: 1px solid rgba(0, 0, 0, 0.29);
}
.line2 {
  position: absolute;
  width: 249px;
  height: 0px;
  left: 20px;
  top: 282px;

  border: 1px solid rgba(0, 0, 0, 0.29);
}
.line3 {
  position: absolute;
  width: 249px;
  height: 0px;
  left: 20px;
  top: 361.5px;
  border: 1px solid rgba(0, 0, 0, 0.29);
}
.line4 {
  position: absolute;
  width: 249px;
  height: 0px;
  left: 20px;
  top: 442px;
  border: 1px solid rgba(0, 0, 0, 0.29);
}
.logoutBg {
  position: absolute;
  width: 231px;
  height: 70px;
  left: 29px;
  top: 884px;
  background: linear-gradient(180deg, #48af78 0%, #42996b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logoutButton {
  background: none;
  border: 0px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.05em;
  color: #ffffff;
  cursor: pointer;
}
.helpDesk {
  position: absolute;
  width: 76px;
  height: 21px;
  left: 108px;
  top: 966px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5894px;
  line-height: 21px;
  letter-spacing: -0.07em;
  color: #494949;
}
.number {
  position: absolute;
  width: 100px;
  height: 21px;
  left: 98px;
  top: 992px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5894px;
  line-height: 21px;
  letter-spacing: -0.07em;
  color: #494949;
  cursor: pointer;
}

.requestText {
  position: absolute;
  width: 422px;
  height: 43px;
  left: 394px;
  top: 75.71px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28.5557px;
  line-height: 43px;
  letter-spacing: -0.02em;
  color: #72aa83;
}

.firstbox {
  box-sizing: border-box;
  position: absolute;
  width: 1114px;
  /* width: 100%; */
  height: 226px;
  left: 402px;
  top: 159px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.innerbox1 {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-top: 20px;
}


.text1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 29.3972px;
  line-height: 35px;
  letter-spacing: -0.015em;
  color: #48af78;
}

.text1div {
  padding-right: 20px;
  padding-left: 20px;
}
.text2div {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 20px;
  border-left: 1.3193px solid rgba(0, 0, 0, 0.3);
  border-right: 1.3193px solid rgba(0, 0, 0, 0.3);
}
.text3div {
  padding-left: 20px;
}
.text2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 27.9429px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #48af78;
}
.smalltext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16.9257px;
  line-height: 20px;
  letter-spacing: -0.005em;

  color: #959595;
}

.innerbox2 {
    box-sizing: border-box;
    width: 1072px;
    height: 48px;
    left: 414px;
    top: 294px;
    margin-left: 12px;
    border: 1px solid #959595;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
  }
.recived {
  box-sizing: border-box;
  width: 387px;
  height: 44px;
  /* left: 414px; */
  /* top: 294px; */
  background: #fdf307;
  border: 1px solid #fdf307;
  border-radius: 24px 0px 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NEGOTIATING {
  box-sizing: border-box;
  width: 287px;
  height: 44px;
  /* left: 414px; */
  /* top: 294px; */
  /* background: #fdf307;
  border: 1px solid #fdf307; */
  border-left: 1px solid #959595;
  border-right: 1px solid #959595;
  display: flex;
  justify-content: center;
  align-items: center;
}
.COMPLETED {
  box-sizing: border-box;
  width: 387px;
  height: 44px;
  /* left: 414px; */
  /* top: 294px; */
  /* background: #fdf307;
  border: 1px solid #fdf307; */
  border-radius: 24px 0px 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabtext{
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16.9257px;
line-height: 20px;
letter-spacing: -0.07em;

color: #959595;
}
